<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<Patternlayout
				pattern="%d{YYYY-MM-DD} {%t} %level %logger ::%M: :%L %msg %n">

			</Patternlayout>
		</Console>

		<file name="FileLogger" fileName="logs/automation.log"
			append="false">
			<Patternlayout
				pattern="%d{YYYY-MM-DD} {%t} %level %logger %msg %n"></Patternlayout>
		</file>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console"></AppenderRef>
			<AppenderRef ref="FileLogger"></AppenderRef>
		</Root>
	</Loggers>

</Configuration>